{% load comments %}
{% load more_like_this %}

<div class="bg-white card post-card px-7 py-5">
  {% include 'blog/_post_detail_item.html' %}
  <div class="top-gap">
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
  <br>
  <div class="top-gap clearfix">
    {% if previous_post %}
      <a href="{{ previous_post.get_absolute_url }}">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        {{ previous_post }}
      </a>
    {% endif %}
    {% if next_post %}
      <a class="float-right" href="{{ next_post.get_absolute_url }}">
        {{ next_post }}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
  {% block related_posts %}
    <div class="top-gap-big card">
      <div class="card-header">相关文章</div>
      <div class="card-body">
        {% more_like_this post as related_posts limit 5 %}
        <ul class="mt-0">
          {% for related_post in related_posts %}
            <li class="mt-1"><a class="text-small"
                                href="{{ related_post.object.get_absolute_url }}">{{ related_post.object.title }}</a>
            </li>
          {% empty %}
            没有相关文章
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endblock related_posts %}
  <section class="comment-area top-gap-big" id="comment-area">
    <h5>{{ post.comments.count }} 条评论 / {{ post.participants_count }} 人参与</h5>
    {% if user.is_authenticated %}
      {% render_comment_form for post %}
    {% else %}
      {% include 'account/_login_panel.html' %}
    {% endif %}
    {% include 'comments/list.html' %}
  </section>
</div>
