<html>
<body>

<h1>隐私政策</h1>
<p>我们不会收集及以任何形式储存来自你社交网络的任何咨询或销售给广告或其它营运机构。</p>
<h2>个人信息</h2>
<p>当你透过社交网络账号进行登陆时，可能会要求输入账号的密码，但改密码由系统管理，本网站不会以任何形式储存账号密码，也不会收集及您的任何个人资讯。</p>
<h2>隐私政策条款</h2>
<p>使用本网站即表示您同意此隐私政策的条款和条件。如果您不同意本政策，请不要使用该本网站。我们保留权利，在我们決定更改，修改，增加或刪除本政策的部分，在任何時候。请定期浏览此网页查阅任何修改。如果您继续使用我们的网站以后的任何更改这些条款的发布将意味着你已经接受了这些调整。</p>
<p>联络信箱: zhhyf521@163.com</p>

<h1>PRIVACY POLICY</h1>
<p>We do not collect and save from your social account in any form or sell any information to advertisers or other operators.</p>
<h2>Personal information</h2>
<p>When you login through accounts may be asked to enter the account and password, but that information is management by the system. Website does not save account and password in any form or collect and save any personal information in any form on your account.</p>
<h2>Privacy Policy Terms</h2>
<p>Use this Website mean you agree to the terms and conditions of this Privacy Policy. If you do not agree to this policy, please do not use this Website. We reserve the right, in our decision to change, modify, add or remove portions of this policy at any time. Please check this page periodically for any changes. Publish any changes to these terms if you continue to use our Website future will mean that you have accepted these adjustments.</p>
<p>E-Mail: zhhyf521@163.com</p>
</body>
</html>
